<h1>コメント一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>id</th>
    <th>日付</th>
    <th>コメント</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.created_at %></td>
    <td><%= comment.content %></td>
    <td><%= link_to '詳細', comment_path(comment.id) %></td>
    <td><%= link_to "編集", edit_comment_path(comment.id) %></td>
    <td><%= link_to '削除', comment_path(comment.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<p>
  <%= link_to '新規作成', new_comment_path %>
</p>
